
button, input{
    max-height: 50px;
    height: 40px;
}

.banner {
    background-color: black;
    color: white;
}

button{
    width: 50px;
    padding: 10px;
}

.weather-card{
    margin-top: 20px;
    border-radius: 3px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}

.forecast-card{
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
    border-color: black;
    border-style: solid;

}

.input-group{
    margin-bottom: 30px;
}

.card-header {
    background-color: black;
    color: white;
}

.forecasted {
    background-color: lightblue;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 25px;
    text-align: center;
    width: auto;
}

.card {
    margin-top: 25px;
}

img {
    max-height: 40px;
    max-width: 40px;
}